#canvasContainer{
  position: absolute;
  z-index: 0;
  top: 50px;
  left: 220px;
}
#toolbar{
  top:50px;
  left:10px;
  position: absolute;
  background-color: lightgray;
  z-index: 1;
  height: 600px;
  width: 200px;
  border-radius: 7px;
}
#glcanvas{
  height: 600px;
  width: 1000px;
}
#toolbarMoveHandle{
  height: 10px;
  width: 120px;
  cursor: move;
  margin-left: auto; 
  margin-right: auto;
  background-color: gray;
  border-radius: 5px;
}
#menu{
  position: fixed;
  height: 40px;
  background-color: rgb(240, 240, 240);
  width: 100%;
  margin: 0px;
  padding-left: 3px;
  z-index: 3;
}
#applicationWindow{
  width: 100%;
  height: 100%;
}
.menuItem{
  margin-top: 5px;
  margin-bottom: auto;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
}
.menuItem:hover{
  background-color: rgb(200, 200, 200);
}
#rightSidebar{
  display: flex;
  flex-flow: column;
  background-color: gray;
  flex: 1;
}
#footer{
  position: fixed;
  bottom: 0;
  margin: 0px;
  background-color: rgb(240, 240, 240);
  height: 30px;
  width: 100%;
  z-index: 3;
  
}
#attributePanel{
  background-color: aliceblue;
}
#layerPanel{
  flex: 1;
  background-color: antiquewhite;
}
#seperator{
  height: 14px;
  cursor: n-resize;
}
.dragBar{
  background-color: darkgray;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 2px;
}
html,body{
  height:100%;

  margin: 0px;
  padding: 0px;
}
#horizontalSperator{
  cursor: e-resize;
  width: 3px;
  background-color: gray;
}
.panel{
  border-radius: 10px;
  margin: 0px;
}
#resizableContainer{
  position: fixed;
  display: flex;
  flex-flow: row;
  height: calc(100% - 70px);
  right: 0px;
  top: 40px;
  z-index: 2;
}