.unselectable{
    user-select: none;
    -webkit-user-select:none;
}
.horizontalFlexContainer{
    display: flex;
    flex-flow: row;
}
.verticalFlexContainer{
    display: flex;
    flex-flow: column;
}
