#canvasContainer{
  position: absolute;
  z-index: 0;
}
#glcanvas{
  height: 400px;
  width: 400px;
}
#toolbarMoveHandle{
  height: 10px;
  width: 120px;
  cursor: move;
  margin-left: auto; 
  margin-right: auto;
  background-color: gray;
  border-radius: 5px;
}
#applicationWindow{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
}
#rightSidebar{
  display: flex;
  flex-flow: column;
  background-color: gray;
  flex: 1;
}
#footer{
  bottom: 0;
  margin: 0px;
  background-color: rgb(240, 240, 240);
  height: 30px;
  width: 100%;
  z-index: 3;
}
#attributePanel{
  background-color: aliceblue;
}
#layerPanel{
  flex: 1;
  background-color: antiquewhite;
}
#seperator{
  height: 14px;
  cursor: n-resize;
}
.dragBar{
  background-color: darkgray;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 2px;
}
html,body{
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#horizontalSperator{
  cursor: e-resize;
  width: 8px;
  background-color: gray;
}
.panel{
  border-radius: 10px;
  margin: 0px;
}
#resizableContainer{
  display: flex;
  flex-flow: row;
  height: 100%;
  top: 40px;
  right: 0px;
  z-index: 2;
}
#workbench{
  flex: 1;
  display: flex;
  flex-flow: row;
  width: 100%;
}
#left{
  position: relative;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}